<div class="background">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Részletes keresés
        </mat-panel-title>
        <mat-panel-description>
          Szűrés: {{ selectedemployees }} {{ selectedhairStyle }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select placeholder="Stílus" [formControl]="hairStyle" [(value)]="selectedhairStyle" multiple>
          <mat-option *ngFor="let style of hairStyleList" [value]="style">{{ style }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Fodrász" [formControl]="employees" [(value)]="selectedemployees" multiple>
          <mat-option *ngFor="let employee of employeesList" [value]="employee">{{ employee }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>



  <div class="flex-container">
    <div *ngFor="let image of images">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ image.employeeName }}</mat-card-title>
          <mat-card-subtitle>{{ image.userName }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="image.url" alt="Photo">
        <mat-card-content>
          <p>{{ image.tags }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

  
