.background{
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-position: center;
}

mat-card{
    min-width: fit-content;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    background-color: #ffffff36;
    
}

table{
    min-width: fit-content;
}