
<mat-sidenav-container class="matSidenavContainer">

    <mat-sidenav-content>
        <mat-toolbar color="primary">
     
           
            <div fxFlex fxlayout fxLayoutAlign="flex-end" fxHide.sm>
                <a mat-button [routerLink]="'/register'" *ngIf="!(authService.userLoggedIn| async)"> Regisztráció </a>
                <a mat-button [routerLink]="'/booking'" *ngIf="(authService.userLoggedIn| async)"> Foglalás </a>
                <a mat-button [routerLink]="'/contact'"> Kapcsolat </a>
                <a mat-button [routerLink]="'/profile'" *ngIf="(authService.userLoggedIn| async)"> Profil </a>
                <a mat-button [routerLink]="'/notification'" *ngIf="(authService.isEmployee| async ) && (authService.userLoggedIn| async)"> Éetesítés </a>
                <a mat-button [routerLink]="'/upload'" *ngIf="(authService.isEmployee| async ) && (authService.userLoggedIn| async)"> kép feltöltés </a>
                <a mat-button [routerLink]="'/employees'" *ngIf="(authService.isEmployee| async ) && (authService.userLoggedIn| async)"> Alkalmazottak </a>
                <a mat-button [routerLink]="'/gallery'"> Galéria </a>
                <a mat-button [routerLink]="'/login'"  *ngIf="(authService.userLoggedIn| async)" (click)="logout()"> Kijelentkezés </a>
            </div>
        </mat-toolbar>
        
    </mat-sidenav-content>
 
</mat-sidenav-container>

<router-outlet></router-outlet>  